.wrapper,
.menu,
.nav-list,
.contacts {
  display: flex;
  flex-direction: row;
}

.wrapper {
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  align-items: flex-start;
  margin-top: 3px;
  margin-left: 37px;
}

.nav-item {
  margin: 0 15px;
  font-weight: 500;
}

.contacts {
  margin-top: 3px;
}

.tel {
  margin-right: 47px;
}

.description {
  margin-top: 10px;
  width: 140px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 32px;
}

@media screen and (max-width: 1400px) {
  .contacts {
    display: none;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .logo,
  .description {
    display: none;
  }

  .nav {
    width: 100%;
  }

  .nav-list {
    margin-left: 0;
    justify-content: space-between;
  }

  .nav-item {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .nav {
    max-width: 100%;
  }

  .nav-list {
    margin: 0;
    justify-content: space-b;
  }

  .nav-item {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .tel {
    margin-right: 0;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1e1e1e;
    /* font-size: 12px; */
    /* line-height: 15px; */
  }

  .nav-list {
    margin: 20px 0;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    font-size: 12px;
    line-height: 15px;
  }
}
